@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

  --PaleBlue: hsl(243, 100%, 93%);
  --GrayishBlue: hsl(229, 7%, 55%);
  --DarkBlue: hsl(228, 56%, 26%);
  --VeryDarkBlue: hsl(229, 57%, 11%);
}

body {
  background-color: var(--VeryDarkBlue);
  max-width: 100vw;
  font-family: "Raleway", sans-serif;
}

.fylo-component-section {
  width: 100%;
  height: 100vh;
  background-image: url(images/bg-desktop.png);
  background-size: 100% 50vh;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fylo-component-container {
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.left-section {
  background-color: var(--DarkBlue);
  padding: 40px;
  border-radius: 10px 100px 10px 10px;
  display: flex;
  flex-direction: column;
}

.logo-cont {
  margin-right: 160px;
}

.file-type-cont {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.content {
  background-color: var(--VeryDarkBlue);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.right-section {
  position: relative;
}

.used-data-container {
  padding: 30px;
  background-color: var(--DarkBlue);
  border-radius: 10px;
}

.used-data-p {
  color: var(--PaleBlue);
  padding: 10px 0px;
  margin-bottom: 10px;
}

.loading-bar {
  width: 500px;
  height: 15px;
  background-color: var(--VeryDarkBlue);
  border-radius: 20px;
}

.gredient-bar {
  border-radius: 20px;
  width: 80%;
  height: 100%;
  background: rgb(255, 163, 153);
  background: linear-gradient(
    90deg,
    rgba(255, 163, 153, 1) 0%,
    rgba(255, 77, 151, 1) 100%
  );
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.white-circle {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  margin: 2px;
}

.bar-loading-content {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  color: var(--PaleBlue);
  font-weight: 700;
}

.bar-loading-content > p {
  padding: 5px;
}

.gb-left-popup {
  position: absolute;
  width: 180px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 100%, 85% 73%, 0% 73%);
  top: -20%;
  right: 7%;
  border-radius: 10px 10px 0 0;
  gap: 10px;
}

.gb-left-popup > h1 {
  font-size: 2.5em;
  color: var(--VeryDarkBlue);
  font-weight: 700;
}

.gb-left-popup span {
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--GrayishBlue);
  padding-top: 20px;
}

@media screen and (max-width: 950px) {
  .fylo-component-section {
    background-image: url(images/bg-mobile.png);
    background-size: 100% 100vh;
  }

  .fylo-component-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .gb-left-popup {
    top: 80%;
    right: 30%;
    clip-path: none;
    border-radius: 10px;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .bar-loading-content {
    margin-bottom: 30px;
  }

  .gb-left-popup > span {
    padding: 0;
  }
}

@media screen and (max-width: 560px) {
  .fylo-component-container {
    align-items: center;
  }

  .loading-bar {
    width: 315px;
  }
}

@media screen and (max-width: 380px) {
  .logo-cont {
    margin-right: 135px;
  }

  .used-data-container {
    padding: 30px 20px;
  }
}
